#
# SPDX-FileCopyrightText: Majaahh
# SPDX-License-Identifier: GPL-3.0-or-later
#

# Camera
CONFIG_CAMERA_AAV_A33X=y
CONFIG_CAMERA_ACT_AK737X_OBJ=m
CONFIG_CAMERA_CIS_3L6_OBJ=m
CONFIG_CAMERA_CIS_4HA_OBJ=m
CONFIG_CAMERA_CIS_IMX258_OBJ=m
CONFIG_CAMERA_CIS_IMX355_OBJ=m
CONFIG_CAMERA_CIS_IMX582_OBJ=m
CONFIG_CAMERA_CIS_GC5035_OBJ=m
CONFIG_CAMERA_CIS_GC02M1_OBJ=m
CONFIG_CAMERA_USE_MCU=y
CONFIG_OIS_USE=y

# Camera - Flash
CONFIG_CAMERA_FLASH_S2MU106_OBJ=m

# Charger
CONFIG_CHARGER_S2MU106=m
CONFIG_HICCUP_CHARGER=y

# Device
CONFIG_SEC_A33=y

# Fingerprint
CONFIG_SENSORS_EL7XX=m

# Input
CONFIG_HALL_LOGICAL=m
CONFIG_HALL_NOTIFIER=m
CONFIG_INPUT_HALL_IC=m

# Leds
CONFIG_LEDS_S2MU106_FLASH=m

# MFD
CONFIG_MFD_S2MU106=m

# MUIC
CONFIG_HV_MUIC_S2MU106_AFC=m
CONFIG_HV_MUIC_VOLTAGE_CTRL=y
CONFIG_MUIC_S2MU106=m
CONFIG_MUIC_SUPPORT_POWERMETER=y
CONFIG_MUIC_SUPPORT_PRSWAP=y
CONFIG_MUIC_S2MU106_RID=y

# Mstdvr
CONFIG_MST_LDO=m
CONFIG_MST_ARCH_EXYNOS=y
CONFIG_MST_IF_PMIC=y
CONFIG_MST_SUPPORT_GPIO=y
CONFIG_MST_TEEGRIS=y

# NFC
CONFIG_NFC_PVDD_LATE_ENABLE=y
CONFIG_SAMSUNG_NFC=m
CONFIG_SEC_NFC=y
CONFIG_SEC_NFC_LOGGER=y
CONFIG_SEC_NFC_LOGGER_ADD_ACPM_LOG=y
CONFIG_SEC_NFC_LOGGER_RTC_REG_ADDR=0x11A20090

# DM Verity
CONFIG_DM_ANDROID_VERITY_AT_MOST_ONCE_DEFAULT_ENABLED=y

# Fuelgauge
CONFIG_FUELGAUGE_S2MU106=m
CONFIG_FUELGAUGE_S2MU106_USE_5MILLIOHM=y

# PDIC
CONFIG_PDIC_PD30=y
CONFIG_PDIC_S2MU106=m
CONFIG_PDIC_SLSI_NON_MCU=m
CONFIG_S2MU106_PDIC_TRY_SNK=y

# PMIC
CONFIG_LSI_IFPMIC=y

# PM
CONFIG_PM_S2MU106=m

# Panel - Decon
CONFIG_DISPLAY_USE_INFO=y
CONFIG_EXTEND_LIVE_CLOCK=y
CONFIG_EXYNOS_DECON_LCD_S6E3FC3=m
CONFIG_EXYNOS_DECON_LCD_S6E8FC3=m
CONFIG_EXYNOS_DECON_LCD_SYSFS=y
CONFIG_EXYNOS_DECON_MDNIE_LITE=y
CONFIG_EXYNOS_LCD_ENG=y
CONFIG_MCD_PANEL_LPM=y
CONFIG_MCD_PANEL=m
CONFIG_PANEL_AID_DIMMING=y
CONFIG_PANEL_DEBUG=y
CONFIG_PANEL_DISPLAY_MODE=y
CONFIG_PANEL_NOTIFY=y
CONFIG_PANEL_VRR_BRIDGE=y
CONFIG_SUPPORT_AOD_BL=y
CONFIG_SUPPORT_CCD_TEST=y
CONFIG_SUPPORT_GRAM_CHECKSUM=y
CONFIG_SUPPORT_MASK_LAYER=y

# Sensors
CONFIG_SENSORS_ISG5320A=m
CONFIG_SENSORS_SUPPORT_SLSI=y

# Sound
CONFIG_SND_SOC_SAMSUNG_EXYNOS_TAS2562=m
CONFIG_SND_SOC_SAMSUNG_EXYNOS8825_AUDIO=m
CONFIG_SND_SOC_TAS2562=m
CONFIG_SEC_SND_ADAPTATION=m
CONFIG_TAS25XX_ALGO=y
CONFIG_TAS2562_CODEC=y
CONFIG_TAS2562_REGMAP=y

# Sound - Abox
CONFIG_SND_SOC_SAMSUNG_MAILBOX=m
CONFIG_SND_SOC_SAMSUNG_SLIF=m
CONFIG_SND_SOC_SAMSUNG_SLIF_VERSION=0x10101
CONFIG_SND_SOC_SAMSUNG_VTS=m
CONFIG_SND_SOC_SAMSUNG_VTS_VERSION=0x20100
CONFIG_SND_SOC_SAMSUNG_VTS_V2_1=y

# Touchscreen
CONFIG_TOUCHSCREEN_STM=m
