#
# SPDX-FileCopyrightText: Majaahh
# SPDX-License-Identifier: GPL-2.0
#

# Camera
CONFIG_CAMERA_AAV_A33X=y
CONFIG_CAMERA_CIS_3L6_OBJ=m
CONFIG_CAMERA_CIS_4HA_OBJ=m
CONFIG_CAMERA_CIS_GC02M1_OBJ=m
CONFIG_CAMERA_CIS_IMX355_OBJ=m
CONFIG_CAMERA_CIS_IMX582_OBJ=m
CONFIG_CAMERA_FLASH_S2MU106_OBJ=m

# Charger
CONFIG_CHARGER_HL7132=m
CONFIG_CHARGER_S2MU106=m

# Fingerprint
CONFIG_SENSORS_EL7XX=m

# Fuelgauge
CONFIG_FUELGAUGE_S2MU106=m
CONFIG_FUELGAUGE_S2MU106_USE_5MILLIOHM=y

# Leds
CONFIG_LEDS_S2MU106_FLASH=m

# MFD
CONFIG_MFD_S2MU106=m

# MST
CONFIG_MST_ARCH_EXYNOS=y
CONFIG_MST_IF_PMIC=y
CONFIG_MST_LDO=m
CONFIG_MST_SUPPORT_GPIO=y
CONFIG_MST_TEEGRIS=y

# Misc
CONFIG_LSI_IFPMIC=y
CONFIG_SUPPORT_CCD_TEST=y

# Muic
CONFIG_HV_MUIC_S2MU106_AFC=m
CONFIG_HV_MUIC_VOLTAGE_CTRL=y
CONFIG_MUIC_CORE=y
CONFIG_MUIC_MANAGER=m
CONFIG_MUIC_S2MU106=m
CONFIG_MUIC_S2MU106_RID=y
CONFIG_MUIC_SUPPORT_POWERMETER=y
CONFIG_MUIC_SUPPORT_PRSWAP=y
CONFIG_MUIC_SYSFS=y

# PDIC
CONFIG_PDIC_PD30=y
CONFIG_PDIC_S2MU106=m
CONFIG_PDIC_SLSI_NON_MCU=m
CONFIG_S2MU106_PDIC_TRY_SNK=y

# PM
CONFIG_PM_S2MU106=m

# Panel
CONFIG_EXYNOS_DECON_LCD_S6E8FC3=m

# Sensors
CONFIG_SENSORS_ISG5320A=m
CONFIG_SENSORS_SUPPORT_SLSI=y

# Sound
CONFIG_SEC_SND_ADAPTATION=m
CONFIG_SND_SOC_SAMSUNG_EXYNOS_TAS2562=m
CONFIG_SND_SOC_TAS2562=m
CONFIG_TAS25XX_ALGO=y
CONFIG_TAS2562_CODEC=y
CONFIG_TAS2562_REGMAP=y

# Touchscreen
CONFIG_TOUCHSCREEN_FTS_FT3519=m

# USB
CONFIG_S2MU106_TYPEC_WATER=y
CONFIG_S2MU106_TYPEC_WATER_SBU=y
