#
# SPDX-FileCopyrightText: Majaahh
# SPDX-License-Identifier: GPL-2.0
#

# Camera
CONFIG_CAMERA_AAV_A53X=y
CONFIG_CAMERA_CIS_IMX682_OBJ=m
CONFIG_CAMERA_CIS_IMX616_OBJ=m
CONFIG_CAMERA_CIS_HI1336_OBJ=m
CONFIG_CAMERA_CIS_GW1_OBJ=m
CONFIG_CAMERA_CIS_GD2_OBJ=m
CONFIG_CAMERA_FLASH_SM5714_OBJ=m

# Charger
CONFIG_CHARGER_SM5714=m
CONFIG_SM5714_FACTORY_MODE=y
CONFIG_SM5714_WATER_DETECTION_ENABLE=y
CONFIG_SM5714_SUPPORT_SBU=y

# Fuelgauge
CONFIG_FUELGAUGE_SM5714=m

# Leds
CONFIG_LEDS_SM5714=m

# MFD
CONFIG_MFD_SM5714=m

# Misc
CONFIG_MAKE_NODE_USING_PLATFORM_DEVICE=y
CONFIG_S2M_SUPPORT_DELAYED_REQUEST_MESSAGE_UFP=y

# Muic
CONFIG_MUIC_AFC_RETRY=y
CONFIG_MUIC_BCD_RESCAN=y
CONFIG_MUIC_COMMON_SYSFS=y
CONFIG_MUIC_SM5714=m
CONFIG_MUIC_USE_MODULE_PARAM=y

# NFC
CONFIG_ESE_P3_LSI=y
CONFIG_ESE_COLDRESET=y
CONFIG_NFC_FEATURE_SN100U=y
CONFIG_NFC_PN547=y

# PDIC
CONFIG_PDIC_SM5714=m

# Panel
CONFIG_PANEL_FREQ_HOP=y
CONFIG_SUPPORT_PANEL_DECODER_TEST=y

# Sensors
CONFIG_SENSORS_FINGERPRINT_NORMALSPI=y
CONFIG_SENSORS_GW9558X=m
CONFIG_SENSORS_SX9380=m

# USB
CONFIG_SUPPORT_USB_TYPEC_OPS=y
