#
# SPDX-FileCopyrightText: Majaahh
# SPDX-License-Identifier: GPL-3.0-or-later
#
# This configuration fragment depends on gta4xls.config

# CP
# CONFIG_EXYNOS_DIT is not set
# CONFIG_CP_BTL is not set
# CONFIG_CP_PKTPROC is not set
# CONFIG_CP_PKTPROC_UL is not set
# CONFIG_CP_UART_NOTI is not set
# CONFIG_CPIF_DIRECT_DM is not set
# CONFIG_CPIF_TP_MONITOR is not set
# CONFIG_CPIF_VENDOR_HOOK is not set
# CONFIG_REINIT_VSS is not set
