#
# SPDX-FileCopyrightText: Majaahh
# SPDX-License-Identifier: GPL-3.0-or-later
#

# Battery
CONFIG_BATTERY_SAMSUNG_REBOOT=y
CONFIG_SUPPORT_HV_CTRL=y
# CONFIG_ENABLE_FULL_BY_SOC is not set

# Camera
CONFIG_CAMERA_ACT_DW9808_OBJ=m
CONFIG_CAMERA_CIS_IMX355_OBJ=m
CONFIG_CAMERA_CIS_GC5035_OBJ=m
CONFIG_CAMERA_CIS_GC02M1_OBJ=m
CONFIG_CAMERA_CIS_JN1_OBJ=m
CONFIG_CAMERA_MMV_M33X=y

# Camera - Flash
CONFIG_CAMERA_FLASH_SM5714_OBJ=m

# Charger
CONFIG_HICCUP_CHARGER=y
CONFIG_CHARGER_SM5451=m
CONFIG_CHARGER_SM5714=m

# DM Verity
CONFIG_DM_ANDROID_VERITY_AT_MOST_ONCE_DEFAULT_ENABLED=y

# Device
CONFIG_SEC_M33=y

# Fingerprint
CONFIG_SENSORS_ET5XX=m

# Fuelgauge
CONFIG_FUELGAUGE_SM5714=m

# Leds
CONFIG_LEDS_SM5714=m

# MFD
CONFIG_MFD_SM5714=m

# MUIC
CONFIG_MUIC_AFC_RETRY=y
CONFIG_MUIC_BCD_RESCAN=y
CONFIG_MUIC_COMMON_SYSFS=y
CONFIG_MUIC_SM5714=m
CONFIG_MUIC_USE_MODULE_PARAM=y

# NFC
CONFIG_NFC_FEATURE_SN100U=y
CONFIG_NFC_PN547=y
CONFIG_NFC_PVDD_LATE_ENABLE=y
CONFIG_SAMSUNG_NFC=m
CONFIG_SEC_NFC_LOGGER=y
CONFIG_SEC_NFC_LOGGER_ADD_ACPM_LOG=y
CONFIG_SEC_NFC_LOGGER_RTC_REG_ADDR=0x11A20090

# PDIC
CONFIG_PDIC_SM5714=m

# Panel - Decon
CONFIG_EXYNOS_DECON_LCD_SYSFS=y
CONFIG_EXYNOS_LCD_ENG=y
CONFIG_MCD_PANEL_BLIC=y
CONFIG_MCD_PANEL_I2C=y
CONFIG_MCD_PANEL=m
CONFIG_PANEL_AID_DIMMING=y
CONFIG_PANEL_DEBUG=y
CONFIG_PANEL_DISPLAY_MODE=y
CONFIG_PANEL_NOTIFY=y

# Panel - Decon - LCD
CONFIG_EXYNOS_DECON_LCD_TFT_COMMON=m
CONFIG_EXYNOS_DECON_LCD_TFT_M33=m

# Radio
CONFIG_RADIO_S5E8825=m
CONFIG_RADIO_S620=m

# SEC
CONFIG_SEC_ABC_MOTTO=m

# Sensors
CONFIG_SENSORS_ISG6320=m
CONFIG_SENSORS_SUPPORT_SLSI=y
CONFIG_USE_MULTI_CHANNEL=y

# Sound
CONFIG_SEC_SND_ADAPTATION=m
CONFIG_SND_SOC_RT5665=m
CONFIG_SND_SOC_RL6231=m
CONFIG_SND_SOC_SAMSUNG_EXYNOS_TAS2562=m
CONFIG_SND_SOC_SAMSUNG_EXYNOS8825_RT5665=m
CONFIG_SND_SOC_TAS2562=m
CONFIG_TAS25XX_ALGO=y
CONFIG_TAS2562_CODEC=y
CONFIG_TAS2562_REGMAP=y

# Touchscreen
CONFIG_TOUCHSCREEN_NOVATEK_NT36523_SPI=m
# CONFIG_TOUCHSCREEN_GOODIX_BRL is not set
